<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h3>IT IS THE REGISTRATION PAGE.</h3>

    <form action="register" method="post">

        {% csrf_token %}

        <input type="text" name="username" placeholder=" Enter your Username ">
        <br>
        <input type="text" name="first_name" placeholder=" Enter your First Name ">
        <br>
        <input type="text" name="last_name" placeholder=" Enter the Last Name ">
        <br>
        <input type="email" name="email" placeholder=" Enter the Email ">
        <br>
        <input type="text" name="password" placeholder=" Enter the Password ">
        <br>
        <input type="text" name="confirmpassword" placeholder=" Confirm your Password ">
        <br>
        <input type="submit">

    </form>
    
    {% for msg in messages %} <!--message must be iterated to show in website-->

    <h2> {{ msg }} </h2>

    {% endfor %}
</body>
</html>